* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 10vh;
  font-family: "Arial", monospace;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
}
li {
  list-style: none;
}
.containter {
  width: 1300px;
}
.content {
  padding-top: 298px;
  width: 608px;
}
.paragraph {
  font-size: 24px;
  margin-bottom: 32px;
  width: 500px;
}
.image {
  position: relative;
  right: 75px;
  margin: 40px 0 0 0;
  width: 791px;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 24px;
  width: 650px;
  height: 168px;
  background-color: #49342f;
  border-radius: 24px;
}
.list ul {
  display: flex;
  justify-content: space-around;
  gap: 64px;
}
.square h2 {
  font-size: 24px;
  font-family: "Poppins";
  margin-bottom: 16px;
}
.square {
  width: 110px;
  height: 120px;
  font-size: 16px;
  color: #ffffff;
}
.square .underline {
  width: 38px;
  height: 4px;
  background-color: #ffffff;
  margin-bottom: 16px;
}
